* {
    margin: 0px;
    padding: 0px;
}
h1 {
    width: 100%;
   text-align: center;
    background-color:blue ;
}


input {
position: absolute;
    margin-top:5px;
    margin-bottom: 5px;
    width:15%;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    background-color: blue;
    border: solid 2px black;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;

}
.piee {
    left: 2%;
}
.paa {
    left: 45%;
}
.tii {
    left: 90%;
}
input:hover {
    background-color: white;
    transition: 0.5s;
}
.div1 {

    width:90%;
    height:150px;
    position: relative;
    margin: auto;
 text-align: center;
}
.div2 {
    border: black solid 2px;
  border-radius: 15px;  
    margin: auto;
    background-color:rgb(255, 255, 255);
width: 90%;
height:160px;
overflow: hidden;
}

img {
    margin-top: 10PX;
    margin-bottom: 10PX;
    width: 150px;
    height: 150px;
    margin-left:100px;
}